/*
// import mixin

// import config


// Base extends, mixins and includes
// Add base implementations when possible as classes

// Reset 
%reset {
	padding: 0; margin: 0; background: none; border: none; 
	letter-spacing: normal; float: none; height: auto; width: auto;
	list-style: none; top: auto; bottom: auto; left: auto; right: auto;
	box-sizing:content-box;
	-moz-box-sizing:content-box; // Firefox
	-webkit-box-sizing:content-box; // Safari
}



// Classes
.critical > div, .error > div, .warning > div, .ok > div, .information > div,
.critical, .error, .warning, .ok, .information
 {
	@extend %shade;
	background-color: #ff2400; color: #fff; text-transform: uppercase;
}
.error > div, .error  {
	// error = orange
	background-color: #ff7800
}
.warning > div, .warning  {
	// warning = yellow
	background-color: #ffde00
}
.ok > div, .ok  {
	// ok = green
	background-color: #00ff1e
} 
.information > div, .information, .info > div, .info  {
	// info = blue
	background-color: #004eff
} 




// FF form Oddities
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}



// makes a bar with a glass shine and shadow

%bar {
	background-color: desaturate($primary, 15%);
	@include highlight(0.4); @include shadow(rgba(0,0,0,0.65),0,2em);
}

%dark-bar {
	background-color: $primary;
	@include shade(0.3); @include shadow(rgba(0,0,0,0.65),0,2em);
	> * {
		color: rgb(255,255,255); color: rgba(255,255,255,0.9);
	}
}


%sprites-sm { // 16 x 16 sprite
	width: 16px; height: 16px; background: url('sprites.png') no-repeat;
	display: inline-block;
}

%sprites { // 32 x 32 sprite, floating
	content: ' '; width: 32px; height: 32px; position: absolute; 
	background: url('sprites.png') no-repeat; display: block;
	top: 9px; left: 16px;
}

%psuedo-sprite { // 16 x 16 sprite, floating :before/
	@extend %sprites-sm;
	content: ' '; display: block; position: absolute; top: 50%; left: 50%;
	margin: -8px 0 0 -8px;
}


%text_input {
	@include corners(1em); border: none; padding: 4px 8px; width: 100%; 
	@extend %shadow-inset;
	// so it fills the space
	box-sizing: border-box; 
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

*/