/* ********************
design configuration
******************** */

// body text color
$text: #666;

// primary color used in ui elements
$primary: #263F66;

// secondary color used in ui elements
$secondary: #999;      

// body text size, used for base of most measurements
$m: 12px;   

// font face used for h* tags
$bfont: Arial, Helvetica, sans-serif;

// font face used for h* tags
$hfont: 'avenir_45_bookregular',"Century Gothic", sans-serif;

// radius
$radius: 0.25em;

// sprite
$sprites: '/app/images/sprites.png';

/* ********************
import configuration
******************** */

@import "jbolts/_box_sizing.css.scss";
@import "jbolts/_chisel.css.scss";
@import "jbolts/_clear.css.scss";
@import "jbolts/_gradients.css.scss";
@import "jbolts/_layer.css.scss";
@import "jbolts/_opacity.css.scss";
@import "jbolts/_pseudo_blocks.css.scss";
@import "jbolts/_rgba.css.scss";
@import "jbolts/_rounded_corners.css.scss";
@import "jbolts/_shadows.css.scss";
@import "jbolts/_sprite.css.scss";

