/* Layers and Panels */

@import "_rgba.css.scss";

// Used to position an item relative to the closest relatively-positioned ancestor (position: relative)

@mixin layer($top: 0, $right: 0, $bottom: 0, $left: 0, $index: 99, $height: 'auto', $width: 'auto') {
  position: absolute;
  display: block;
  top: $top; 
  right: $right; 
  bottom: $bottom; 
  left: $left;
  z-index: $index;
  width: $width; 
  height: $height;
  overflow-y: auto; 
  overflow-x: hidden;
}

// Expands to same size as parent
%layer { @include layer(); }

// Sticks to given side, set width or height if you want to keep fixed
%panel-top { @include layer($bottom: 'auto'); }
%panel-right { @include layer($left: 'auto'); }
%panel-bottom { @include layer($top: 'auto'); }
%panel-left { @include layer($right: 'auto'); }

// Overlay
.overlay {
  @include layer();
  z-index: 9999;
  &.slight {
   @include rule_rgba($r: 0, $g: 0, $b: 0, $a: 0.3);
  }
  &.md {
    @include rule_rgba($r: 0, $g: 0, $b: 0, $a: 0.6);
  }
  &.dark {
    @extend %faded-black;
  }
} 