/* Opacity - Needs 0-100 */

// $a: 0-100
@mixin opacity($a: 85) {
  filter: alpha(opacity=$a);
  -moz-opacity: ($a/100);
  -khtml-opacity: ($a/100);
  opacity: ($a/100);
}

%no_opacity { @include opacity(0); }
%full_opacity { @include opacity(100); }
