// used to create pseudo elements before or after
@mixin pseudo($pseudo: before, $size: 0, $display: block, $pad: true) {
  position: relative;
  // does not take into account the border, padding or margin
  @if $pad {
    @if $display == 'block' {
      @if $pseudo == 'before' {
        padding-left: +($size);
      } @else {
        padding-right: +($size);
      }
    }
  }
  &:#{$pseudo} {
    content: " ";  width: $size; height: $size;
    @if $display == 'inline-block' {
      display: inline-block; position: relative;
    } @else {
      display: block; position: absolute; top: 50%; margin-top: -($size/2);
      @if $pseudo == 'before' {
        left: 0;
      } @else {
        right: 0;
      }
    }
  }
}

%pseudo_before { @include pseudo(before); }
%pseudo_after { @include pseudo(after); }
