/* Corners */

$radius: 3px !default; // so this file can be loaded on it's own

// Used to make rounded corners on all
// $n: radius
@mixin corners($n: $radius) {
  -moz-border-radius: $n;
  -webkit-border-radius: $n;
  border-radius: $n; /* future proofing */
  -khtml-border-radius: $n; /* for old Konqueror browsers */
}

%corners { @include corners(); }

// Used to make rounded corner on specific corner
// $v: top or bottom
// $h: left or right
// $n: radius

@mixin corner($v: top,$h: bottom,$n: $radius) {
  -moz-border-radius-#{$v}#{$h}: $n;
  -khtml-border-radius-#{$v}#{$h}: $n;
  -webkit-border-#{$v}-#{$h}-radius: $n;
  border-#{$v}-#{$h}-radius: $n;
}

%corner_b { @include corner(bottom,right); @include corner(bottom,left); }
%corner_t { @include corner(top,right); @include corner(top,left); }
%corner_l { @include corner(top,left); @include corner(bottom,left); }
%corner_r { @include corner(top,right); @include corner(bottom,right); }
%corner_tl { @include corner(top,left); }
%corner_tr { @include corner(top,right); }
%corner_bl { @include corner(bottom,left); }
%corner_br { @include corner(bottom,right); }
