/* Sprite position: column, row, tile size */

// Used to easily position sprite background
// assumes tiles are square
// requires element with appropriate width and height so other sprites are masked

@import "_layer.css.scss";

@mixin sprite-position($c: 1,$r: 1,$size: '16px', $scale: 1) {
  background-position: (0 - (($size*$scale) * ($c - 1))) (0 - (($size*$scale) * ($r - 1))) / $scale*100 auto;
}

%sprites_background {
  background: url(#{$sprites}) no-repeat;  
}

%sprites-sm { // 16 x 16 sprite
  @extend %sprites_background;
  width: 16px; 
  height: 16px; 
  display: inline-block;
}

%sprites { // 32 x 32 sprite, floating
  @extend %sprites_background;
  @include layer($top: 9px, $right: auto, $left: 16px, $bottom: auto, $width: 32px, $height: 32px);
  content: ' '; 
  display: block;
}

%psuedo-sprite { // 16 x 16 sprite, floating :before/
  @extend %sprites_background;
  @include layer($top: 50%, $right: auto, $left: 50%, $bottom: auto, $width: 16px, $height: 16px);
  content: ' '; 
  display: block; 
  margin: -8px 0 0 -8px;
}
